body {
    margin: 0;
    background: #7b0000;
    font-family: 'Playfair Display', serif;
}

/* ===== SLIDE PEMBUKA ===== */
.slide {
  position: fixed;
  inset: 0;
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
              url('cover.jpg') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}

.slide .box {
  color: gold;
}

.slide button {
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  background: gold;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

/* ===== SEMBUNYIKAN UNDANGAN AWAL ===== */
.invitation {
  display: none;
}

/* FRAME LANDSCAPE */
.invitation {
    max-width: 900px;
    margin: 40px auto;
    background: #f6e6c8;
    border: 10px solid #5a0000;
    border-radius: 25px;
    display: flex;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

/* FOTO */
.photo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    border: 6px solid #8b0000;
    object-fit: cover;
}

/* KONTEN */
.content {
    width: 60%;
    padding: 0 25px;
    text-align: center;
}

.ribbon {
    background: #8b0000;
    color: #fff;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 20px;
    font-size: 14px;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 42px;
    margin: 15px 0 5px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 15px;
}

.date {
    font-weight: bold;
    margin: 15px 0;
    font-size: 16px;
}

.box {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.event {
    width: 50%;
    background: #d9b173;
    padding: 12px;
    border-radius: 15px;
    font-size: 13px;
}

.event h4 {
    margin: 5px 0;
}

.footer {
    margin-top: 15px;
    font-style: italic;
    font-size: 15px;
}

button {
    width: 50%;
    padding: 12px;
    background: #8b0000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}