
      body {
         background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20241017/pngtree-blue-circuit-board-background-with-a-low-poly-cute-robot-in-image_16404298.jpg");
        font-family: "Segoe UI", sans-serif;
        line-height: 1.7;
        margin: 30px;
      }

      p {
        color: #2ef30b;
        text-align: center;
        text-shadow: 2px 2px 3px lightpink;
      }

      h1 {
        color: rgb(237, 40, 18);
        text-align: center;
        text-shadow: 2px 2px 3px lightgray;
      }

      h2 {
        color: rgb(237, 40, 18);
        text-align: center;
        text-shadow: 2px 2px 3px lightgray;
      }

      hr {
        border: none;
        height: 3px;
        background-color: #1565c0;
        margin-bottom: 20px;
      }

      ul {
        color: yellow;
      }

      .box {
        margin: 20px 0;
        padding: 15px;
        border: 2px solid #444;
        background-color: #e3f2fd;
        border-radius: 10px;
      }

      ul {
        margin-left: 40px;
      }

      li {
        margin-bottom: 5px;
        color: #2ef30b;
      }

      form input[type="submit"] {
        background-color: #1976d2;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        margin-bottom: 15px;
      }

      form input[type="submit"]:hover {
        background-color: #19a10d;
      }