body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    header, footer {
      background: navy;
      color: white;
      padding: 15px;
      text-align: center;
    }
    .main {
      display: flex;
      min-height: 400px;
    }
    nav {
      flex: 1;
      background: lightblue;
      padding: 20px;
        text-align: center;
    }
    article {
      flex: 10;
      background: #f0f0f0;
      padding: 20px;
      text-align: center;
    }


    /*container 1*/
   .container1 {
      display: flex;
      width: 200;
      background-color: navy;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
    }
  
    .box {
      width: 200px;
      height: 50px;
      background-color: rgb(80, 106, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: bold;
    }


      /*container 1*/
      .container2 {
      display: flex;
      width: 200;
      background-color: navy;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
    }
    .box2 {
      width: 200px;
      height: 50px;
      background-color: rgb(80, 106, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: bold;
    }

    aside {
      flex: 1;
      background: lightgreen;
      padding: 20px;
      text-align: center;
    }
    